aio-pool==0.2.0
aiohttp==3.8.1
aiopool==0.0.2a1
aiosignal==1.2.0
aiosocksy==0.1.2
aredis==1.1.8
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.10
Deprecated==1.2.13
frozenlist==1.2.0
idna==3.3
importlib-metadata==4.10.0
multidict==5.2.0
packaging==21.3
pyparsing==3.0.6
PyYAML==6.0
redis==4.1.0
requests==2.27.1
schedule==1.1.0
tenacity==8.0.1
typing-extensions==4.0.1
urllib3==1.26.8
wrapt==1.13.3
yarl==1.7.2
zipp==3.7.0
